@import url('https://fonts.googleapis.com/css?family=Nunito');


html {
  height: 100%;
}

body {
  height: 100%;
  
  font: 12pt Nunito;
  
  background-color: #0d343a;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(rgba(0, 0, 250, 1)),
    to(#ee82ee)
  );
}

.drop {
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(rgba(13, 52, 58, 0)),
    to(rgba(255, 255, 255, 0.6))
  );
  width: 1px;
  height: 89px;
  position: absolute;
  bottom: 200px;
  -webkit-animation: fall 7s linear infinite;
  -moz-animation: fall 7s linear infinite;
}

/* animate the drops*/

@-webkit-keyframes fall {
  to {
    margin-top: 900px;
  }
}

@-moz-keyframes fall {
  to {
    margin-top: 900px;
  }
}

input[type="text"] {
  border-bottom: 2px solid #0000fa;
  border-radius: 0;
  border-right: none;
  border-left: none;
  outline: none;
  text-align: center;
  border-top: none;
}

input[type="text"]:focus, input[type="text"]:hover {
  
}

.banner {
  margin-bottom: 1em;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: white;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  padding: 5em;
}


